<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Déconnexion</title>
    <!-- Intégration de Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="display-4">Déconnexion</h1>
        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
        <button onclick="logoutUser()" class="btn btn-primary">Déconnexion</button>
    </div>

    <script>
        // Fonction de déconnexion
        function logoutUser() {
            // Supprimer le jeton d'authentification du localStorage
            localStorage.removeItem('authToken');

            alert('Vous avez été déconnecté.');

            // Rediriger l'utilisateur vers la page d'accueil, par exemple
            window.location.href = '/';
        }
    </script>
</body>
</html>
 