<ul>
    {% for ticket in tickets %}
        <li>
            Événement: {{ ticket.nomEvenement }}, Date: {{ ticket.dateEvenement }}, Lieu: {{ ticket.lieuEvenement }}, Prix: {{ ticket.prixTicket }}€, Vendeur: {{ ticket.nomUtilisateur }}
            {% if ticket.nomUtilisateur != nomUtilisateurActif %}
                <form method="POST" action="/acheter_ticket">
                    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                    <button type="submit" class="btn btn-primary">Acheter</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
