# Fichiers générés automatiquement
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Dossiers générés automatiquement
instance/

# Environnement virtuel
venv/

# Fichiers de configuration
instance/config.py
*.ini

# Fichiers de logs
*.log

# Fichiers de base de données SQLite
db.sqlite

# Dossiers et fichiers spécifiques à l'IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de sauvegarde
*.bak
*.swp

# Fichiers de compilation Python
*.pyc
*.pyo
__pycache__/

# Cache et fichiers temporaires
.cache/
*.log*

# Fichiers de configuration spécifiques à l'utilisateur
sensitive_config.yaml
